<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ExpressJS TypeScript Example</title>
</head>

<body>
    <%- include('partials/header') %>
    <h1>About</h1>
    <ul>
        <% users.forEach(function(user){ %>
            <li>
                <strong><%= user.name %></strong></br>
                username: <%= user.username %>,
                email: <%= user.email %>
              </li>
        <% }); %>
      </ul>
    <%- include('partials/footer') %>
</body>

</html>